// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6;
$byui-blue: #056cb6;
$title-font: #525352;
$acc-white: #ffffff;
$sm-nocolor: transparent;
$byu-font: 'BYUI Open Sans';

//size

$sm-width: 315px;

