@import 'typography';
@import 'icons';
@import 'mixins';
@import 'variables';
@import 'classes';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header .icon-byui-logo,
header .mobile-header-icon {
  display: flex;
  font-size: 2em;
  color: $acc-white;
  padding: .35em;
}

header .icon-byui-logo {
  float: left;
  color: $acc-white;
  background-color: $body-font;
}

.site-banner-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $byui-blue;
  color: $acc-white;
}

a:link {
  text-decoration: none;
}

.search-tab {
  display: none;
}

.page-heading h1 {
  background-color: $light-gray;
  border-bottom: 1px solid $body-font;
  font-family: $byu-font;
  font-size: 19px;
  text-align: justify;
  font-weight: 100;
  margin: 0%;
  padding: 1em 2em 1em 2em;
}

.university-info-banner {
  background-color: $body-font;
  color: $acc-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 1em 2em .05em;
  text-align: center;
  padding: 0 .75em 1em .75em;
  width: 100%;

  & h2 {
    font-weight: 100;
    margin-bottom: 2.5%;
  }

  & .btn {
    display: inline-block;
    background-color: $link-blue;
    border-radius: 5px;
    color: $acc-white;
    font-weight: 700;
    padding: .5em 1.5em .5em 1.5em;
    width: 100%;

  }
}

.home-ad-caption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid $med-gray;
  font-family: $byu-font;
  color: $link-blue;
  text-align: left;
  padding: 1vw;
}

.float-right {
  text-align: right;
  font-size: 15px;
}



.home-ad-fig {
  width: 100%;
  margin: 0;
  border: 1px solid $med-gray;
}

img {
  grid-template-columns: minmax-content(2fr);
  margin-left: 0;
  width: 100%;
}

.audience-button {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  grid-column: 1, 80%;
  padding: 10px 18px;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  width: 100%;
  

  .float-right {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    padding-left: 0;
  }
}

.info-resources ul {
  list-style-type: none;
  padding: 0;
}

.component-spacing {
  margin-bottom: 36px !important;
}

.newsroom-link {
  display: grid;
  justify-items: right;
}

.btn-blue {
  background-color: $link-blue;
  color: $acc-white;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border: 1px solid $sm-nocolor;
  padding: 6px 24px;
  font-size: 15px;
  border-radius: 4px;

}

.btn.btn-blue.float-right {
  margin-top: 4vh;
  margin-left: 52vw;
  margin-bottom: 3vh;
  font-family: $byu-font;
}

.hidden-sm {
  display: none;
}

.article-date {
  border-top: 1px solid $med-gray;
}


.bg-gray {
  background-color: $dark-gray;
  font-family: $byu-font;
  color: $acc-white;
  height: 5vh;
  padding: 2vw;
  padding-left: 6vw;
  margin-bottom: -1.95vh;
}

.bg-blue {
  background-color: $link-blue;
  color: $acc-white;
  height: 5vh;
  font-family: $byu-font;
  font-weight: 500;
  font-size: 20px;
  padding: 1vh;
  padding-left: 6vw;
}



.resource-link {
  display: flex;
  justify-content: space-between;
  padding: .4rem .7rem;
  font-family: $byu-font;
  font-weight: 300;
  border: 1px solid $med-gray;
  color: $link-blue;
  text-align: left;
}


.highlights-link {
  display: grid;
  grid-template-columns: auto auto 2fr;
  grid-gap: 1em;
  align-items: center;
  padding: 0.5em;
  font-family: $byu-font;
  color: $body-font;

  .col-3 {
    font-weight: 900;

  }

}


.col-12 h4 {
  font-family: $byu-font;
  margin-left: 6vw;
  font-size: 15px;
  color: $link-blue;
  font-weight: 500;
}

.article-date {
  font-family: $byu-font;
  font-size: 11px;
  margin-left: 6vw;
  border-top: 1px solid $med-gray;
  padding-top: 2vh;
}

.article-abstract {
  margin-bottom: 4vh;
  margin-left: 6vw;
  font-family: $byu-font;
  font-size: 15px;
  color: $body-font;
  font-weight: 300;
}

/* -- footer -- */
footer {
  background-color: $link-blue;
  height: 6vh;
  text-align: center;
  padding: 1em;
  font-family: $byu-font;

  .smftr {
    color: $acc-white;

  }
}

/*- lg media-query -*/

@media screen and (min-width:40em) {

  html,
  body,
  main {
    max-width: 100%;
  }

  header {
    max-width: 100%;
  }

  main {
    display: grid;
    grid-gap: 5em;
    grid-template-columns: 5fr 3fr;
    padding: 5em;
  }

    img {
    width: 100%;
  }
  .row img.img-responsive{
    width: 12vw;
    max-width: 40vw;
  }

  article .row{
    display: grid;
    grid-template-columns: auto 1fr;
  }


  .three-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;

  }

  .university-info-banner {
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  
  .hidden-sm {
    display: block;
  }
}