@import 'typography';
@import 'icons';
@import 'mixins';
@import 'variables';
@import 'classes';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header .icon-byui-logo,
header .mobile-header-icon {
  display: flex;
  font-size: 2em;
  color: $acc-white;
  padding: .35em;
}

header .icon-byui-logo {
  float: left;
  color: $acc-white;
  background-color: $body-font;
}

.site-banner-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $byui-blue;
  color: $acc-white;
}

a:link {
  text-decoration: none;
}

.search-tab {
  display: none;
}

.page-heading h1 {
  background-color: $light-gray;
  border-bottom: 1px solid $body-font;
  font-family: $byu-font;
  font-size: 19px;
  text-align: justify;
  font-weight: 100;
  margin: 0%;
  padding: 1em 2em 1em 2em;
}

.university-info-banner {
  background-color: $body-font;
  color: $acc-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 1em 2em .05em;
  text-align: center;
  padding: 0 .75em 1em .75em;
  width: 310px;

  & h2 {
    font-weight: 100;
    margin-bottom: 2.5%;
  }

  & .btn {
    display: inline-block;
    background-color: $link-blue;
    border-radius: 5px;
    color: $acc-white;
    font-weight: 700;
    padding: .5em 1.5em .5em 1.5em;

  }
}

main {
  width: $sm-width;

}

img {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin-left: 0;
  width: 100%;

}



.home-ad-caption {
  border: 1px solid $med-gray;
  font-family: $byu-font;
  color: $link-blue;
  text-align: left;
  padding: 3vw;

  .float-right {
    margin: 0;
    padding-left: 45vw;
    font-size: 15px;
  }

}

.audience-button {
  display: block;
  padding: 10px 18px;
  font-weight: 700;
  font-size: 16px bold;
  text-align: left;
  width: 100%;

  .float-right {
    margin: 0;
    padding-left: 33vw;
  }
}

.info-resources ul {
  list-style-type: none;
  padding: 0;
}

.component-spacing {
  margin-bottom: 36px !important;
}

.btn-blue {
  background-color: $link-blue;
  color: $acc-white;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border: 1px solid $sm-nocolor;
  padding: 6px 24px;
  font-size: 15px;
  border-radius: 4px;

}

.float-right {
  margin: 8vh 8vh 5vh 56vw;
}

.hidden-sm {
  display: none;
}

.article-date {
  border-top: 1px solid $med-gray;
}

.bg-gray {
  background-color: $dark-gray;
  font-family: $byu-font;
  color: $acc-white;
  height: 5vh;
  padding: 2vw;
  padding-left: 6vw;
  margin-bottom: -1.95vh;
}

.resource-link {
  display: block;
  font-family: $byu-font;
  font-weight: 300;
  border: 1px solid $med-gray;
  color: $link-blue;
  text-align: left;
  padding-left: 6vw;
  .float-right {
    margin-left: 25vw;
    //padding-left: 25vw;
  }
  
}


/* -- footer -- */
footer {
  background-color: $link-blue;
  height: 6vh;
  text-align: center;
  padding: 1em;

  .smftr {
    color: $acc-white;

  }
}